#title-div {
  background-color: #797a7e;
  opacity: 0.8;
  position:relative;
  width: auto;
  margin-bottom: 0;
  padding-left: 50px;
  text-align: left;
}

#middle-div {
  padding-top: 50px;
  background-color: #f7f2e7;
  opacity: 0.7;
}

#bottom-div {
  background-color: #f7f2e7;
  opacity: 0.7;
}

body {
  text-align: center;
  margin: none;
}


h1 {
  font-family: "Lobster Two";
  font-size: 72px;
  margin: 50px auto 0 auto;
  color: #d8d3cd;
}

h2 {
  font-family: "Roboto";
  margin-bottom: 0;
  font-size: 24px;
  padding-bottom: 15px;
  color: #d8d3cd;
}

h5, p {
  font-family: "Roboto";
  color: "#797a7e";
}

footer {
  margin-top: 0;
  padding-top: 30px;
  background-color: #797a7e;
  font-size: 12px;
}

.card {
  opacity: 0.8;
  background-color: #f7f2e7;
}

.PlantCard { 
  margin: 25px 50px;
}

.navbar {
  padding: 0 0 24px;
}

.navbar-brand {
  font-family: "Lobster Two";
}

.nav-item {
  padding: 0 18px;
}

#text-column {
  padding: 50px 100px;
}

.plantResults img{
  width: auto;
  height: 300px;
}

#api-search {
  font-family: "Lobster Two";
  display: none;
  margin: 20px;
  float: center;
}
.plantResults{
  font-family: "Lobster Two";
}
