.jumbotron {
  background-image: linear-gradient(green, lightgreen);
  border: black;
  border-width: 5px;
}

/* body {
  background-image: url("img/plant-background.jpg");
} */

.card {
  background-color: tan;
  border-radius: 2%;
  border-color: black;
}